.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px 0;
    margin-bottom: 100px;
}

.text {
    padding: 0 15px;
    margin-top: 10px;
}

.text p {
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
}

.text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}
.firstRow {
    display: flex;
    padding: 70px 0 0 0;
    flex-direction: column-reverse;
    margin-bottom: 0;
}


@media (min-width:992px) {
    .firstRow .text {
        grid-column: 2;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .firstRow .image{
        grid-column: 1;
        grid-row: 1;
    }
    .image {
        margin: auto;
    }
}